__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.egg
*.egg-info
dist/
build/

.ipynb_checkpoints/

venv/
.env
*.env
.python-version

*.ipynb:Zone.Identifier

raw_data/
asl_words_interpreter/
data/
dm/

.DS_Store
Thumbs.db
